MYSQL_ROOT_PASSWORD=changeme
MYSQL_PASSWORD=changeme
MYSQL_DATABASE=owncloud
MYSQL_USER=owncloud

OWNCLOUD_DOMAIN=localhost
OWNCLOUD_ADMIN_USERNAME=admin
OWNCLOUD_ADMIN_PASSWORD=changeme
OWNCLOUD_DB_TYPE=mysql
OWNCLOUD_DB_NAME=owncloud
OWNCLOUD_DB_USERNAME=owncloud
OWNCLOUD_DB_PASSWORD=changeme
OWNCLOUD_DB_HOST=db
OWNCLOUD_MYSQL_UTF8MB4=true

#OWNCLOUD_REDIS_ENABLED=true
#OWNCLOUD_REDIS_HOST=redis
